h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family:Arial;
    font-weight: bold;
}

.container-fluid button {
 background-color: black;
 color: white;
 padding: 10px;
 font-family: Arial;
}

#close {
 background-color: white;
 border: 1px solid black;

}
